body
{
	background-color:#999999;
}
#table1
{
	width:100%;
	height:200px;
	border-style:hidden;
	border-width:0px;
	border-collapse:collapse;
	border-color:green;
}
#td1
{
	width:16.5%;
	background-image:url(11.jpg);
	background-repeat:no-repeat;
}
#td2
{
	color:#228B22;
	background-color:#000000;
	font-family:"ChopinScript";
	font-size:150px;
	font-weight:bold;
	text-align:center;
}
#table2
{
	width:100%;
} 

#td3
{
	border-color:#C71585;
	border-style:solid;
}
img
{
	width:800px; 
	height:300px;
}

#table3
{
	width:100%;
	height:50px;
	border:0px;
	border-style:solid;
	border-collapse:seperated;
	border-color:#339900;
	
}
#tr1
{
	background-color:#9999CC;
}
a
{
	text-decoration:none;
}
a:hover
{
	color:#FF00FF;
	text-decoration:none;
}
.td4
{
	font-family:"Copperplate Gothic"; 
	font-size:30px;
	font-weight:bold;
	text-align:center;
}
#table4
{
	width:100%;
	border:4px;
	border-style:groove;
	border-color:#339900;
}
#td4
{
	width:300px;
	height:250px;
	font-size:30px;
	text-align:center;
}
#td5
{
	font-family:"Calibri";
	font-size:35px;
	color:#CC6699;
	text-align:center;
}
#table5
{
	width:100%;
	height:50px;
	border-style:hidden;
	border:none;
	border-width:0px;
}
#td6
{
	
	font-family:"Bernard MT";
	font-size:35px;
	color:#330033;
	text-align:center;
	text-decoration:underline;
}
.table6
{
	width:100%;
	height:200px;
	border-style:hidden;
	border:none;
	border-width:0px;
}
.td7
{
	width:200px;
	height:100px;
}
.img1
{
	width:200px;
	height:140px;
}

.class1
{
	font-family:"Castellar";
	font-size:30px;
	color:#003399;
	text-align:center;
	text-decoration:underline;
}
.class2
{
	font-family:"Book Antiqua";
	font-size:28px;
	color:#99CC00;
	text-align:center;
	text-decorationnone;
}