body
{
	background-color:#999966;
}
#table1
{
	width:100%;
	height:200px;
	border-style:hidden;
	border-width:0px;
	border-collapse:collapse;
}
#td1
{
	width:16.5%;
	background-image:url(11.jpg);
	background-repeat:no-repeat;
}
#td2
{
	color:#228B22;
	background-color:#000000;
	font-family:"ChopinScript";
	font-size:150;
	font-weight:bold;
}
#table2
{
	width:100%;
}
#td3
{
	border-color:#C71585;
	border-style:solid;
}
img
{
	width:800px; 
	height:300px;
}

#table3
{
	width:100%;
	height:50px;
	border:0px;
	border-style:solid;
	border-collapse:seperated;
	border-color:#339900;
}
#tr1
{
	background-color:#999900;
	text-align:center;
}
a
{
	text-decoration:none;
}
a:hover
{
	color:#C71585;
	text-decoration:none;
}
.td4
{
	font-family:"Copperplate Gothic"; 
	font-size:30;
	font-weight:bold;
}
#table4
{
	width:100%;
	border:4px;
	border-style:groove;
	border-color:#339900;
}
#td4
{
	width:500px;
	height:350px;
	font-size:30px;
	text-align:center;
}
#td5
{
	font-family:"Comic Sans MS";
	font-size:30px;	
	color:#CC6600;
}
#table5
{
	width:100%;
	height:400px;
	border:4px;
	border-style:groove;
	border-top:none;
	border-color:#336600;
}
#td5
{
	fot-family:"Bernard MT";
	font-size:30px;
	color:#003300;
}

.table6
{
	width:100%;
	height:250px;
	border:none;
}
.td6
{
	width:300px;
	height:300px;
}
.img1
{
	width:300px;
	height:300px;
}
.class1
{
	font-family:"Broadway";
	font-size:35px;
	color:#9900FF;
	text-decoration:underline;
}		
.td7
{
	font-family:"Chiller";
	font-size:36px;
	font-color:#9900FF;
	text-decoration:none;
	text-align:center;
}	