	body
	{
		background-color:#FFFACD;
	}
	table
	{	
		width:100%;
	}
	#id1
	{
		height:200px;
		border-style:hidden;
		border-width:0px;
		border-collapse:collapse;
	}
	#id2
	{
		width:16.5%;
		background-image:url("11.jpg");
		background-repeat:no-repeat;
	}
	#id3
	{
		color:#228B22;
		background-color:#000000;
		font-family:"ChopinScript";
		font-size:150;
		font-weight:bold;
	}
	#id4
	{
		border-color:#C71585;
		border-style:solid;
	}
	img
	{
		width:800px; 
		height:300px;
	}
	#id7
	{
		height:70px;
		border-width:3px;
		border-style:solid;
		border-collapse:collapse;
	}
	a
	{
		text-decoration:none;
	}
	a:hover
	{
		color:#CC6633;
		text-decoration:none;
	}
	#id6
	{
		background-color:#8FBC8F;
		text-align:center;
	}
	.class1
	{
		font-family:"Copperplate Gothic"; 
		font-size:40;
		font-weight:bold;
	}	
	#id5
	{
		border-width:10px;
		border-color:#000000;
		background-image:url("32.jpg");	
		height:500;
		width:500;
	}
	h1
	{
		font-family:"Copperplate Gothic";
		font-size:80px;
		text-transform:"blink";
		text-shadow:40px 30px 40px black;
		font-weight:bold;
		text-align:center;
	}
	.class2
	{
		font-family:"Cooper";
		font-size:20px;
		font-weight:200;
		text-align:center;
	}