	body
	{
		background-color:#98F5FF;
	}
	table
	{	
		width:100%;
	}
	#id1
	{
		height:200px;
		border-style:hidden;
		border-width:0px;
		border-collapse:collapse;
	}
	#id2
	{
		width:16.5%;
		background-image:url("11.jpg");
		background-repeat:no-repeat;
	}
	#id3
	{
		color:#228B22;
		background-color:#000000;
		font-family:"ChopinScript";
		font-size:150;
		font-weight:bold;
	}
	#id4
	{
		border-color:#C71585;
		border-style:solid;
	}
	img
	{
		width:800px; 
		height:300px;
	}
	#id5
	{
		height:50px;
		border-width:3px;
		border-style:solid;
		border-collapse:collapse;
	}
	a
	{
	text-decoration:none;
	}
	a:hover
	{
		color:#CC6633;
		text-decoration:none;
	}
	#id6
	{
		background-color:#8FBC8F;
		text-align:center;
	}
	.class1
	{
		font-family:"Copperplate Gothic"; 
		font-size:40;
		font-weight:bold;
	}
	#id7
	{	
		border-collapse:collapse;
	}
	.class2
	{
		border: 4px solid #8B008B;
	}
	video
	{
		height:60%;
		width:60%;
	}
	p
	{
		font-family:"Cooper";
		font-size:80;
		color:#8B0000;
		text-align:center;
		letter-spacing:5px;
		text-decoration:underline;
	}